html {
    
    header {
    background: #e67e22;
    padding: 30px 10%;
    margin-bottom: 20px;
}
.left
article,
.right {
    background: #8e44ad;
    float: left;
    margin-right: 4%;
}
    body {
        max-width: 100%
    }
.left
    article
.right {
    width: 18%;
}
article {
    width: 56%;
}
.right {
    margin-right: 0;
}
    footer {
        clear: left;
        padding: 
    }